extends ../layout.jade
block content
    section#account.account-page.section-padding
        .container
            ol.breadcrumb
                li
                    a.breadcrumb(href='/tai-khoan?tab=quan-ly-category') Category
                li.active
                    a.breadcrumb(href='#') Thêm Category
            .row
                form(action='/add_caterory', method='post')
                    .err
                        | #{errorMessage}
                    .form-group
                        .row
                            .col-lg-1
                                label Name:
                            .col-lg-9
                                input.form-control#name(type='text', name='name', required, value=name)
                    .form-group
                        .row
                            .col-lg-1
                                label URL:
                            .col-lg-9
                                .row
                                    .col-lg-5
                                        .input-group
                                            span.input-group-addon https://tera.vn/tin-tuc/
                                            input#url.form-control(type='text', name='url', required='', readonly)
                                    .col-lg-7
                                        button#custom_url.left.form-control.btn.btn-link(type='button')  Use Custom URL instead
                    .form-group
                        .row
                            .col-lg-1
                                label Description:
                            .col-lg-9
                                textarea.form-control#description(rows=7 type='text', name='description', required, value=description)
                            .col-lg-2
                                span#counter (0)
                    .form-group
                        .col-lg-offset-5.col-lg-1
                            button.btn.btn-danger.form-control#submitButton(type='submit') Create


    block script
        style.
            .breadcrumb {
                transition: all 0.3s ease 0s;
                text-decoration: none;
                font-weight: 400;
                color: #000000;
                text-transform: none;
                font-family: 'Montserrat', sans-serif;
            }
            #account {
                margin-top: 100px;
                margin-bottom: 50px;
            }
        script.
            $('#name').change(function(){
                $.post('/generate_category_url' , {name: $('#name').val()}, function(data, error) {
                    $('#url').val(data.url);
                });
            })
            $('#custom_url').click(function () {
                if ($(this).text().indexOf('Custom') > -1) {
                    $('#url').prop('readonly', false);
                    $(this).text('Use Suggested URL');
                } else {
                    $('#url').prop('readonly', true);
                    $(this).text('Use Custom URL');
                    $('#url').val(suggestionUrl);
                }
            })
            $('#description').keyup(function () {
                var counterTempate = '(%d)';
                var counter = $('#description').val().length;
                $('#counter').text(counterTempate.replace("%d", counter));
            })

