extend ./layout.jade
block head
    script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "https://www.tera.vn/",
        "name": "Tera",
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "https://www.tera.vn/error",
        "name": "Error",
        }
        }]
        }

block content
    .tera-body.container
        .container
            .col-lg-8.col-lg-offset-2.text-center
                .logo
                    h1 Error occurred
                p.lead.text-muted .
                .clearfix
                br
                .col-lg-6.col-lg-offset-3
                    .btn-group.btn-group-justified
                        a.btn.btn-warning(href='/') Click here to go back to website
block page-script
    style.
        .tera-body.container {
            margin-top: 70px;
        }
