.tera-footer
    .container
        .row
            .col-sm-4.shortcut-list
                .header TERA
                ul
                    li
                        a(href='/gioi-thieu') Giới thiệu
                    li
                        a(href='/dieu-kien-thoa-thuan') Điều kiện thỏa thuận
                    li
                        a(href='/qui-che-hoa-hong') Quy chế hoa hồng
                    li
                        a(href='/bao-gia-ho-tro') Báo giá và hỗ trợ
                    li
                        a(href='/cau-hoi-thuong-gap') Những câu hỏi thường gặp
                    li
                        a(href='/qui-dinh-dang-tin') Quy định đăng tin
                    li
                        a(href='/tuyen-dung') Tuyển dụng
            .col-sm-4
                .header LIÊN HỆ
                p
                    a(href='https://www.google.com/maps/place/78+C%C3%A1ch+M%E1%BA%A1ng+Th%C3%A1ng+T%C3%A1m,+ph%C6%B0%E1%BB%9Dng+6,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.7756433,106.6839911,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f24ef24d74b:0x8e5f7c2ee8d83cc0!8m2!3d10.775638!4d106.6861798')
                        i.glyphicon.glyphicon-home
                        |   Tầng 5B, toà nhà GB, 78-80 Cách mạng tháng 8, Phường 6, Quận 3, Thành phố Hồ Chí Minh, Việt Nam.
                p
                    a(href='https://tera.vn')
                        i.glyphicon.glyphicon-modal-window
                        |  tera.vn
                p
                    a(href='mailto:hello@tera.vn')
                        i.glyphicon.glyphicon-envelope
                        |  hello@tera.vn
            .col-sm-4
                .header TẢI ỨNG DỤNG
                .col-xs-6.col-sm-6.app
                    .button-border(onclick='onClickDownloadCHPlay()')
                        img.img-responsive.pointer(src='/static/landing/image/google-play.png')
                .col-xs-6.col-sm-6.app
                    .button-border(onclick='onClickDownloadAppStore()')
                        img.img-responsive.pointer(src='/static/landing/image/app-store.png')
        .row.text-center.privacy
            .row
                ul.social-network.social-circle
                    li
                        a.icoFacebook(href='#', title='Facebook')
                            i.fa.fa-facebook
                    li
                        a.icoGoogle(href='#', title='Google +')
                            i.fa.fa-google-plus

            .row#footer
                | Công Ty Cổ Phần Công Nghệ Bất Động Sản Việt Nam. © 2017 All rights reserved
            a#return-to-top(href='javascript:')
                i.fa.fa-arrow-circle-up

