#forget_password_popup.modal(style="display:none")
    form#forget_password_form
        fieldset
            legend Quên mật khẩu
            p.tall-row
                | Bạn cần nhập lại số điện thoại để lấy mật khẩu
            label.control-label(for='phone')
            input#forget_phone.form-control(type='text', required=true, name='phone', value=phone || '' ,placeholder='Nhập số điện thoại')
            .form-group
                label.control-label(for='send')
                .tall-row
                    button#forget.btn.btn-danger(type='button', name='send', aria-label='') Xác nhận
                .row#go_back_login
                    a(href='#login_popup' rel="modal:open")  Quay lại đăng nhập
script.
    $('#currentPlace').val(window.location.href)

    $('#forget').click(function () {
        $('.popup_error').text('');
        $.post('/forget_password', $('#forget_password_form').serialize(), function (data, err) {
            if (data.errorMessage) {
                $('.popup_error').text(data.errorMessage)
            } else {
                $('#forget_password_popup').modal();
                $('.phone_number').text(' ' + $('#forget_phone').val());
                $('.phone_number2').val(' ' + $('#forget_phone').val());
            }
        });
    })