doctype html
html.no-js(lang='zxx')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Tera
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // font injector
        link(type='text/css', rel='stylesheet', media='screen, print', href='//v.fastcdn.co/f/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
        // Place favicon.ico in the root directory
        link(rel='apple-touch-icon', href='image/apple-touch-icon.png')
        link(rel='shortcut icon', type='image/ico', href='image/favicon.ico')
        // Plugin-CSS
        link(rel='stylesheet', href='/static/landing/css/bootstrap.css')
        link(rel='stylesheet', href='/static/landing/css/owl.carousel.min.css')
        link(rel='stylesheet', href='/static/landing/css/themify-icons.css')
        link(rel='stylesheet', href='/static/landing/css/animate.css')
        link(rel='stylesheet', href='/static/landing/css/magnific-popup.css')
        // Main-Stylesheets
        link(rel='stylesheet', href='/static/landing/css/space.css')
        link(rel='stylesheet', href='/static/landing/css/theme.css')
        link(rel='stylesheet', href='/static/landing/css/overright.css')
        link(rel='stylesheet', href='/static/landing/css/normalize.css')
        link(rel='stylesheet', href='/static/landing/css/style.css')
        link(rel='stylesheet', href='/static/landing/css/responsive.css')
        meta(name="description" content="Tera")
        script(src='/static/landing/js/modernizr-2.8.3.min.js')
        script.
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] ||
                    function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-87252440-6', 'auto');
            ga('send', 'pageview');
    body
        .preloade
            span
                i.ti-mobile
        // Header-Area
        header#home.corner-background.hero-banner-section.relative.fix
            // Mainmenu
            nav.navbar.navbar-default.mainmenu-area.navbar-fixed-top(data-spy='affix')
                .container
                    .navbar-header
                        a.navbar-brand(href='#')
                            // <img src="images/logo.png" alt="">
                            h2.text-accent.logo-text Tera
                    #mainmenu.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav
                            li
                                span
                                    | Hệ thống thông tin nhà đất:
                                    strong.text-white.font-weight-500  SẮP RA MẮT
            .section-bg.overlay-bg.dewo
            // Mainmenu/
            .space-95
            // Header-Text
            .container.text-white
                .row
                    .col-xs-12.col-md-8
                        .space-140-xs.space-140
                        h1.text-uppercase.font-weight-300 Ứng dụng môi giới nhà đất
                        p.header-sub
                            | Quản lý giỏ hàng thông minh hơn, kết nối môi giới dễ dàng hơn
                        .space-50
                        .row.text-white.wow.fadeInUp
                            .col-xs-6.btn-download-app-left.col-sm-3.p-r-n
                                .button-border(onclick='onClickDownloadCHPlay()')
                                    img.img-responsive.pointer(src='/static/landing/image/google-play.png')
                                .space-10
                            .col-xs-6.btn-download-app-right.col-sm-3.p-l-n
                                .button-border(onclick='onClickDownloadAppStore()')
                                    img.img-responsive.pointer(src='/static/landing/image/app-store.png')
                                .space-10
                    .hidden-xs.hidden-sm.col-md-4
                        .home_screen_slide
                            .single_screen_slide.wow.fadeInRight
                                .item
                                    img(src='/static/landing/image/screen/main_shop_cart.jpg', alt='')
                                .item
                                    img(src='/static/landing/image/screen/main_contact.jpg', alt='')
                                .item
                                    img(src='/static/landing/image/screen/main_chat.jpg', alt='')
                                .item
                                    img(src='/static/landing/image/screen/main_search.jpg', alt='')
                                .item
                                    img(src='/static/landing/image/screen/main_more.jpg', alt='')
                .space-50
            // Header-Text/
        // Header-Area/
        // Work-Section
        // Work-Section/
        // Feature-Section
        section.features-section
            #feature.space-80
            .container
                .row.wow.fadeInUp
                    .col-xs-12.col-md-6.col-md-offset-3.text-center
                        h3.text-uppercase.title-section Tính năng nổi bật
                hr.hr-accent
                .space-60
                .row.feature-area
                    .hidden-xs.hidden-sm.col-md-6.text-center.fix.wow.fadeIn.p-l-100(style='overflow: visible;')
                        .down-offset.relative
                            img(src='/static/landing/image/mobile2.png', alt='')
                            .screen_image.tab-content
                                #feature1.tab-pane.fade.in.active
                                    img(src='/static/landing/image/feature/main_shop_cart.png', alt='')
                                #feature2.tab-pane.fade
                                    img(src='/static/landing/image/feature/main_contact.png', alt='')
                                #feature3.tab-pane.fade
                                    img(src='/static/landing/image/feature/main_search.png', alt='')
                    .col-xs-12.col-sm-6.col-md-6.wow.fadeInRight
                        .space-65.space-65-xs
                        a(href='#feature1', data-toggle='tab')
                            .media.single-feature
                                .media-left
                                    .border-icon
                                        span.ti-shopping-cart-full
                                .media-body
                                    h5.text-uppercase.text-accent.sub-title(style='line-height: 1.4') Sổ tay giỏ hàng
                                    p
                                        | Theo dõi nhà đất
                                    p
                                        | Tạo tin đăng
                                    p
                                        | Tìm và lọc giỏ hàng
                        .space-50
                        a(href='#feature2', data-toggle='tab')
                            .media.single-feature
                                .media-left
                                    .border-icon
                                        span.ti-user
                                .media-body
                                    h5.text-uppercase.text-accent.sub-title(style='line-height: 1.4') Kết nối bạn bè và chia sẻ giỏ hàng
                                    p
                                        | Tạo danh sách bạn bè
                                    p
                                        | Tương tác qua hội thoại
                                    p
                                        | Chia sẻ tin đăng mà bạn quan tâm
                        .space-50
                        a(href='#feature3', data-toggle='tab')
                            .media.single-feature
                                .media-left
                                    .border-icon
                                        span.ti-search
                                .media-body
                                    h5.text-uppercase.text-accent.sub-title(style='line-height: 1.4') Tìm kiếm nhà đất
                                    p
                                        | Cập nhật những tin đăng nhanh chóng
                                    p
                                        | Tạo yêu cầu
                                    p
                                        | Lưu lại các tin rao bất động sản mà bạn quan tâm
                        .space-30
            #feature.space-80
        // Feature-Section
        // Inteface-Section
        section.interface-section.bg-gray
            #inteface.space-80
            .container
                .row.wow.fadeInUp
                    .col-xs-12.col-md-6.col-md-offset-3.text-center
                        h3.text-uppercase.title-section Giao diện thân thiện
                hr.hr-accent
                .space-60
                .row.wow.fadeIn
                    .col-xs-12
                        .space-60
                        .list_screen_slide
                            .item
                                a.work-popup(href='/static/landing/image/screen/image1.png')
                                    img(src='/static/landing/image/screen/image1.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image2.png')
                                    img(src='/static/landing/image/screen/image2.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image3.png')
                                    img(src='/static/landing/image/screen/image3.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image4.png')
                                    img(src='/static/landing/image/screen/image4.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image5.png')
                                    img(src='/static/landing/image/screen/image5.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image6.png')
                                    img(src='/static/landing/image/screen/image6.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image1.png')
                                    img(src='/static/landing/image/screen/image1.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image2.png')
                                    img(src='/static/landing/image/screen/image2.png', alt='')
                            .item
                                a.work-popup(href='/static/landing/image/screen/image3.png')
                                    img(src='/static/landing/image/screen/image3.png', alt='')
                        .space-40
            .space-100
        // Inteface-Section/
        // Feedback-Section
        // Feedback-Section
        // Download-Section
        section#download.relative.donwload-section.fix
            .space-80
            .section-bg.overlay-bg
                img(src='/static/landing/image/dowload-bg.png', alt='')
            .container
                .row.wow.fadeInUp
                    .col-xs-12.col-md-6.col-md-offset-3.text-center.text-white
                        h3.text-uppercase.title-section Tải ngay ứng dụng
                        p
                            | Quản lý bất động sản thông minh và linh hoạt. Mở ra cơ hội kết nối và hợp tác môi giới dễ dàng hơn
                .space-60
                .row.text-white.wow.fadeInUp
                    .col-xs-12.col-sm-6.col-sm-6-half
                        .button-border.alignright(onclick='onClickDownloadCHPlay()')
                            img.img-responsive.pointer(src='/static/landing/image/google-play.png')
                    .col-xs-12.col-sm-6.col-sm-6-half
                        .button-border.alignleft(onclick='onClickDownloadAppStore()')
                            img.img-responsive.pointer(src='/static/landing/image/app-store.png')
                .space-80
        // Download-Section/
        #contact
        // Footer-area
        footer.black-bg
            .space-100
            .container
                .row
                    .offset-top
                        .col-xs-12.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
                            .well.well-lg
                                h3.title-section-small Liên hệ với chúng tôi
                                .space-20
                                form#contact-form(action='process.php', method='post')
                                    .row
                                        .col-xs-12.col-sm-6.col-sm-6-half
                                            .form-group
                                                label.sr-only(for='form-name') Tên
                                                input#name.form-control(type='text', name='form-name', placeholder='Tên', required='')
                                        .col-xs-12.col-sm-6.col-sm-6-half
                                            .form-group
                                                label.sr-only(for='form-phone') Số điện thoại
                                                input#phone.form-control(type='text', name='form-phone', placeholder='Số điện thoại', required='')
                                        .col-xs-12
                                            .form-group
                                                label.sr-only(for='form-email') Email
                                                input#email.form-control(type='email', name='form-email', placeholder='Email', required='')
                                        .col-xs-12
                                            .form-group
                                                label.sr-only(for='form-message') Nội dung
                                                textarea#message.form-control(rows='6', name='form-message', placeholder='Nội dung', required='')
                                            .space-10
                                            button#submit_button.btn.btn-link.no-round.text-uppercase(type='button')
                                                | Gừi nội dung
                        .col-xs-12.col-md-6.wow.fadeInUp(data-wow-delay='0.4s')
                            .well.well-lg.address-info
                                h3.title-section-small Địa chỉ
                                .space-20
                                table.table
                                    tbody
                                        tr
                                            td
                                                .border-icon.sm
                                                    span.ti-email
                                            td
                                                a.text-accent(href='mailto:hello@tera.vn') hello@tera.vn
                                        tr
                                            td
                                                .border-icon.sm
                                                    span.ti-time
                                            td
                                                address
                                                    | Tầng 5B, toà nhà GB, 78-80 Cách mạng tháng 8, Phường 6, Quận 3, Thành phố Hồ Chí Minh, Việt Nam.
                .space-80
                .row.text-white.wow.fadeIn
                    .col-xs-12.text-center
                        //
                          <div class="social-menu">
                          <a href="#"><span class="ti-facebook"></span></a>
                          <a href="#"><span class="ti-twitter-alt"></span></a>
                          <a href="#"><span class="ti-linkedin"></span></a>
                          <a href="#"><span class="ti-pinterest-alt"></span></a>
                          </div>
                        .space-20
                        p
                            | Công Ty Cổ Phần Công Nghệ Bất Động Sản Việt Nam. © 2017 All rights reserved
                .space-20

        // Footer-area
        // Vendor JS
        script(src='/static/landing/js/jquery-1.12.4.min.js')
        script(src='/static/landing/js/bootstrap.min.js')
        // Plugin JS
        script(src='/static/landing/js/owl.carousel.min.js')
        script(src='/static/landing/js/scrollUp.min.js')
        script(src='/static/landing/js/magnific-popup.min.js')
        // <script src="js/ripples-min.js"></script>
        script(src='/static/landing/js/spectragram.min.js')
        script(src='/static/landing/js/ajaxchimp.js')
        script(src='/static/landing/js/wow.min.js')
        // <script src="js/plugins.js"></script>
        // Active JS
        script(src='/static/landing/js/main.js')
        script(src="/static/lib/bootstrap-notify.min.js")
        script(src="/static/lib/jquery.validation.min.js")
        link(rel="stylesheet" href="/static/less/jquery-validation.css")
        script.
            var message = !{JSON.stringify(message)}
            $('#submit_button').click(function(){
                var name = $('#name').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var message = $('#message').val();
                if (!!name && !!email && !!phone && !!message) {
                    $.post("/email", {
                        name: name,
                        email: email,
                        phone: phone,
                        message: message
                    }, function (err, response) {
                        $('#name').val('');
                        $('#email').val('')
                        $('#phone').val('')
                        $('#message').val('');
                        $.notify({
                            // options
                            icon: 'glyphicon glyphicon-warning-sign',
                            message: 'Thông điệp đã được gửi',
                        }, {
                            // settings
                            element: 'body',
                            position: null,
                            type: "info",
                            allow_dismiss: true,
                            newest_on_top: false,
                            showProgressbar: false,
                            placement: {
                                from: "bottom",
                                align: "center"
                            },
                            offset: 20,
                            spacing: 10,
                            z_index: 1031,
                            delay: 5000,
                            timer: 1000,
                            url_target: '_blank',
                            mouse_over: null,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            },
                            onShow: null,
                            onShown: null,
                            onClose: null,
                            onClosed: null,
                            icon_type: 'class',
                        });
                    });
                } else {
                    var missigField = '';
                    if (!name) {
                        missigField = "Tên";
                    } else if (!email) {
                        missigField = "Email";
                    } else if (!phone) {
                        missigField = "Số điện thoại";
                    } else if (!message){
                        missigField = "Nội dung";
                    }
                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-warning-sign',
                        message: 'Xin nhập ' + missigField,
                    }, {
                        // settings
                        element: 'body',
                        position: null,
                        type: "danger",
                        allow_dismiss: true,
                        newest_on_top: false,
                        showProgressbar: false,
                        placement: {
                            from: "bottom",
                            align: "center"
                        },
                        offset: 20,
                        spacing: 10,
                        z_index: 1031,
                        delay: 5000,
                        timer: 1000,
                        url_target: '_blank',
                        mouse_over: null,
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        },
                        onShow: null,
                        onShown: null,
                        onClose: null,
                        onClosed: null,
                        icon_type: 'class',
                    });
                }

            })
            function onClickDownloadCHPlay() {
                ga('send', {
                    hitType : 'event',
                    eventCategory : 'chPlay',
                    eventAction : 'download',
                    eventLabel : 'view'
                });
                window.location.href = "https://play.google.com/store/apps/details?id=vn.tera.app&hl=vi";
            }
            function onClickDownloadAppStore() {
                ga('send', {
                    hitType : 'event',
                    eventCategory : 'appStore',
                    eventAction : 'download',
                    eventLabel : 'view'
                });
                window.location.href = "https://tera.app.link/Tdcf36HNND";
            }
