#login_popup.modal(style="display:none")
    form#login_form
        fieldset
            legend Đăng nhập
            .popup_error
                | #{errorMessage}
            .form-group
                label.control-label(for='phone') Số điện thoại
                input#phone.form-control(type='number', placeholder='Nhập số điện thoại', name='phone', value=phoneNumber || "",required=true, oninvalid="this.setCustomValidity('Xin nhập số điện thoại')")
            .form-group
                label.control-label(for='password') Mật khẩu
                input#password.form-control(type='password', placeholder='Nhập mật khẩu', name='password', value="", required=true)
            .form-group
                label.control-label(for='login')
                div
                    .row.padding-top-10
                        a#forget_password(href='#forget_password_popup' rel="modal:open") Quên mật khẩu?
                        label.control-label(for='phone')
                    .row.padding-top-20
                        button#login.btn.btn-danger(type='button', name='login', aria-label='') Đăng nhập
                        input#currentPlace.sr-only(name='currentPlace')
                        input#nextPlace.sr-only(name='nextPlace')
                    .row.padding-top-20
                        | Bạn chưa có tài khoản?
                        a#resgiter(href='#register_popup' rel="modal:open")  Đăng ký
script.
    $('#login').click(function(){
        $('.popup_error').text('');
        $.post('/login', $('#login_form').serialize() , function (data, err) {
            if (data.errorMessage) {
                $('.popup_error').text(data.errorMessage)
            } else {
                if (data.nextPlace.indexOf('dang-tin') > -1) {
                    window.open('/dang-tin', '_blank');
                }
                window.location.href = data.place;
            }
        });
    })

    $('#currentPlace').val(window.location.href)