doctype html
html
    head
        title Tin Tức
        link(rel='stylesheet', href='/static/lib/bootstrap/css/bootstrap.min.css')
        script(src='/static/lib/jquery.min.js')
        script(src='/static/lib/bootstrap/js/bootstrap.min.js')
        link(rel='stylesheet', href='/static/lib/boostrap-custom/theme.min.css')
        link(rel='stylesheet', href='/static/lib/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/static/less/tera.css')
        link(rel='stylesheet', href='/static/less/news.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="description" content="Tin Tức")
        script(src='/static/lib/jquery-modal/jquery.modal.js')
        link(rel='stylesheet', href='/static/lib/jquery-modal/jquery.modal.css')
        script(type='application/ld+json').
            {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
            "@id": "https://www.tera.vn/",
            "name": "Tera",
            }
            },{
            "@type": "ListItem",
            "position": 2,
            "item": {
            "@id": "https://www.tera.vn/tin-tuc",
            "name": "Tin Tức",
            }
            }]
            }
    body#tera-news
        .tera-header
            include ./nav.jade
            include ./register_popup.jade
            include ./login_popup.jade
            include ./forget_password_popup.jade
        .tera-body.container#container
            .row.hidden-sm.hidden-md.hidden-lg
                .panel
                    .panel-body
                        include ./posting_button.jade
            .row
                ol.breadcrumb
                    li
                        a.breadcrumb(href='/') Tera
                    li
                        a.breadcrumb(href='/tin-tuc') Tin Tức
                .col-xs-12.col-md-9#news_section


                .col-md-3.hidden-xs.hidden-sm
                    img.img-responsive.img-thumbnail(src='https://s-media-cache-ak0.pinimg.com/236x/bd/34/8f/bd348fd9acdc09a8d882c24008d8280e--missionary-homecoming-missionary-mom.jpg')
                    img.img-responsive.img-thumbnail(src='https://s-media-cache-ak0.pinimg.com/236x/bd/34/8f/bd348fd9acdc09a8d882c24008d8280e--missionary-homecoming-missionary-mom.jpg')
        include ./footer.jade
block page-script
    style.
        .devider {
            margin-left: -5px;
        }
    script.
        var news = !{JSON.stringify(news || {})}
        var category = !{JSON.stringify(category)}
        var categories = {};
        if (news.length == 0 && !!category) {
            $('#news_section').append(`<div class="col-xs-12">
                    <div class="row">
                    <div class="panel panel-tera-news">
                    <div class="panel-heading no-paddings">
                    <span class="heading-icon"> </span><span class="text-left title">`+ category + `</span></div>
                    <div class="panel-body">
                    <div class="col-xs-12 col-sm-12">
                    </div>
                    </div>
                    </div>
                    </div>`)
        }
        $.each(news, function (index, post) {
            var category = post.categoryName;
            if (!categories[category]) {
                categories[category] = [];
            }
            categories[category].push(post);
        });
        $.each(categories, function (key, value) {
            renderNews(value, key);
        });

        function renderNews(posts, category) {
            var template = `<div class="col-xs-12">
                  <div class="row">
                    <div class="panel panel-tera-news">
                      <div class="panel-heading no-paddings">
                      <span class="heading-icon"> </span><span class="text-left title">`+ category + `</span></div>
                      <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">%s
                        </div>
                      </div>
                    </div>
                  </div>
                </div>`;

            var newsTemplate = '' ;
            $.each(posts,function (key, post) {
                newsTemplate += `<div class="row padding-10">
                                                  <div class="col-xs-12 col-sm-3 col-md-3">
                                                    <a href="/tin-tuc/` + post.url + `">
                                                    <div class="row"><img src="`+ post.picture +`" class="img-responsive"></div>
                                                    </a>
                                                  </div>
                                                  <div class="col-xs-12 col-sm-9 col-md-9 padding-5"><a href="/tin-tuc/` + post.url + `">
                                                      <div>` + post.header + `</div></a>
                                                    <div class="font-size-12">
                                                      <p>` + post.content + `</p>
                                                    </div>
                                                    <div class="font-size-12 font-gray-color padding-top-bottom-5"><i>` + new Date(post.created).toLocaleString() + `</i></div>
                                                  </div>
                                                </div>`;
            });
            $('#news_section').append(template.replace("%s", newsTemplate));
        }
