extend ./layout.jade
block head

block content
    .tera-body.container
        .row
            .panel.panel-register.panel-default.text-center.col-xs-12.col-sm-8.col-md-6.col-lg-4.col-sm-offset-0.col-md-offset-3.col-lg-offset-4
                .panel-body
                    form(action='/change_password_first_time', method='POST')
                        .err
                            | #{errorMessage}
                        fieldset
                            h5
                                | Thay đổi mật khẩu
                            .form-group
                                input.form-control(type='password', placeholder='Nhập mật khẩu mới', name='password')
                                input.sr-only.form-control.input(type='text', name='phone', value=phone || '')
                                input.sr-only.form-control.input(name='oldPassword', value=oldPassword || '')
                            .form-group
                                input.form-control(type='password', placeholder='Nhập lại mật khẩu mới', name='confirm')
                            .form-group
                                button#send.btn.btn-danger(type='submit') Cập Nhật
block page-script
    style.
        .tera-body.container {
            margin-top: 100px;
        }

