extend ./layout.jade
block head

block content
    .tera-body.container
        .row
            .panel.panel-register.panel-default.text-center.col-xs-12.col-sm-8.col-md-6.col-lg-4.col-sm-offset-0.col-md-offset-3.col-lg-offset-4
                .panel-body
                    form(action='/start', method='POST')
                        .err
                            | #{errorMessage}
                        fieldset
                            h5
                                | Cập nhật tên
                            .form-group
                                input.form-control(type='text', placeholder='Nhập tên', name='name')
                            .form-group
                                button#send.btn.btn-danger(type='submit')
                                    | Bắt đầu ProNhaDat
block page-script
    style.
        .tera-body.container {
            margin-top: 100px;
        }

