.panel-body
    form(action='/tim-kiem', method='POST').form-inline
        .form-group
            .row
                select#mode.form-control(name='mode')
                    option(value=1 selected = mode == 1) Bán
                    option(value=2 selected = mode == 2) Cho Thuê
                input#search_title.search-input.form-control(type='text', placeholder='Nhập tên dự án, tên đường, quận,...', name='tit', value=tit)
                button.btn.btn-danger(type='submit') Tìm kiếm


script.
    var filters = !{JSON.stringify(filters || {})}
    if (filters.typ) $('#advanced_typ').val(filters.typ);
    if (filters.tit) $('#search_title').val(filters.tit);
    if (filters.nob) $('#advanced_nob').val(filters.nob);
    if (filters.pri) $('#advanced_pri').val(filters.pri);
    if (filters.mode) $('#mode').val(filters.mode);




