extend ./layout.jade
block head
    title Site Map
    meta(name='description', content='Site Map')
    script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "https://www.tera.vn/",
        "name": "Tera",
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "https://www.tera.vn/sitemap",
        "name": "SiteMap",
        }
        }]
        }
block content
    .tera-body.container
        .container
            .container.main.bs-docs-container
                ol.breadcrumb
                    li
                        a.breadcrumb(href='/') Tera
                    li
                        a.breadcrumb(href='/sitemap') SiteMap
                .row(role='main')
                    .container.well.well-top
                        h1 Sơ đồ web Tera.vn
                        div
                            .padding-top-20
                                // Nav tabs
                                .card
                                    ul.nav.nav-tabs(role='tablist')
                                        li.active(role='presentation')
                                            a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Nhà đất bán
                                        li(role='presentation')
                                            a(href='#realforrent', aria-controls='realforrent', role='tab', data-toggle='tab') Nhà đất cho thuê
                                        li(role='presentation')
                                            a(href='#project', aria-controls='project', role='tab', data-toggle='tab') Dự án
                                        li(role='presentation')
                                            a(href='#news', aria-controls='news', role='tab', data-toggle='tab') Tin tức
                                        li(role='presentation')
                                            a(href='#business', aria-controls='business', role='tab', data-toggle='tab') Doanh nghiệp
                                    // Tab panes
                                    .tab-content
                                        #home.tab-pane.active(role='tabpanel')
                                            h2
                                                a(href='', target='_blank') Nhà đất bán
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Nhà bán
                                                ul
                                                    li
                                                        a(href='', target='_blank') Biệt thự - Villa
                                                    li
                                                        a(href='', target='_blank') Nhà phố - Nhà mặt tiền
                                                    li
                                                        a(href='', target='_blank') Nhà trong hẻm - Nhà ngỏ - Nhà riêng
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Căn hộ bán
                                                ul
                                                    li
                                                        a(href='', target='_blank') Căn hộ chung cư
                                                    li
                                                        a(href='', target='_blank') Chung cư cao cấp
                                                    li
                                                        a(href='', target='_blank') Chung cư cũ - chung cư giá rẻ
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Đất bán nền
                                                ul
                                                    li
                                                        a(href='', target='_blank') Đất thổ cư
                                                    li
                                                        a(href='', target='_blank') Đất nông nghiệp
                                                    li
                                                        a(href='', target='_blank') Đất công nghiệp
                                                    li
                                                        a(href='', target='_blank') Đất dự án
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Sang mặt bằng
                                                ul
                                                    li
                                                        a(href='', target='_blank') Mặt bằng văn phòng
                                                    li
                                                        a(href='', target='_blank') Mặt bằng bán lẻ
                                                    li
                                                        a(href='', target='_blank') Sang nhượng cửa hàng
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Kho xưởng bán
                                                ul
                                                    li
                                                        a(href='', target='_blank') Chuyển nhượng nhà xưởng
                                                    li
                                                        a(href='', target='_blank') Bán Nhà kho
                                                    li
                                                        a(href='', target='_blank') Đất kho xưởng
                                        #realforrent.tab-pane(role='tabpanel')
                                            h2
                                                a(href='', target='_blank') Nhà đất cho thuê
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Cho thuê nhà
                                                ul
                                                    li
                                                        a(href='', target='_blank') Thuê biệt thự
                                                    li
                                                        a(href='', target='_blank') Thuê nhà nguyên căn
                                                    li
                                                        a(href='', target='_blank') Cho thuê Phòng
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Căn hộ cho thuê
                                                ul
                                                    li
                                                        a(href='', target='_blank') Thuê chung cư
                                                    li
                                                        a(href='', target='_blank') Thuê chung cư cao cấp
                                                    li
                                                        a(href='', target='_blank') Thuê phòng căn hộ
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Đất cho thuê
                                                ul
                                                    li
                                                        a(href='', target='_blank') Thuê đất nông nghiệp
                                                    li
                                                        a(href='', target='_blank') Thuê đất công nghiệp
                                                    li
                                                        a(href='', target='_blank') Thuê đất làm kho xưởng
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Mặt bằng cho thuê
                                                ul
                                                    li
                                                        a(href='', target='_blank') Cho thuê cao ốc văn phòng
                                                    li
                                                        a(href='', target='_blank') Cho thuê cửa hàng
                                                    li
                                                        a(href='', target='_blank') Sàng nhượng thuê kiot
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Kho xưởng cho thuê
                                                ul
                                                    li
                                                        a(href='', target='_blank') Cho thuê nhà xưởng
                                                    li
                                                        a(href='', target='_blank') Cho thuê nhà kho
                                                    li
                                                        a(href='', target='_blank') Cho thuê kho bãi
                                        #project.tab-pane(role='tabpanel')
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Dự án bất động sản
                                                ul
                                                    li
                                                        a(href='', target='_blank') Dự án mới nhất
                                                    li
                                                        a(href='', target='_blank') Dự án nhà ở
                                                    li
                                                        a(href='', target='_blank') Dự án thương mai
                                                    li
                                                        a(href='', target='_blank') Dự án công nghiệp
                                                    li
                                                        a(href='', target='_blank') Dự án nghỉ dưỡng
                                                    li
                                                        a(href='', target='_blank') Dự án phức hợp
                                                    li
                                                        a(href='', target='_blank') Dự án nhà đất
                                        #news.tab-pane(role='tabpanel')
                                            h2
                                                a(href='', target='_blank') Bản tin tức bất động sản
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Thông tin nhà đất
                                                ul
                                                    li
                                                        a(href='', target='_blank') Sự kiện bất động sản
                                                    ul
                                                        li
                                                            a(href='', target='_blank') Capitaland
                                                        li
                                                            a(href='', target='_blank') Nam Long
                                                        li
                                                            a(href='', target='_blank') Sacomreal
                                                        li
                                                            a(href='', target='_blank') Tập đoàn đất xanh
                                                        li
                                                            a(href='', target='_blank') Vingroup
                                                        li
                                                            a(href='', target='_blank') Mở bán dự án
                                                    li
                                                        a(href='', target='_blank') Cách đầu tư bất động sản
                                                    li
                                                        a(href='', target='_blank') Nhà xã hội
                                                    li
                                                        a(href='', target='_blank') Căn hộ
                                                    li
                                                        a(href='', target='_blank') Chung cư cũ
                                                    li
                                                        a(href='', target='_blank') Dự án
                                                    li
                                                        a(href='', target='_blank') Tính lãi suất vay mua nhà
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Blog phong thủy
                                                ul
                                                    li
                                                        a(href='', target='_blank') Phong thủy nhà ở
                                                    li
                                                        a(href='', target='_blank') Phong thủy theo tuổi
                                                    li
                                                        a(href='', target='_blank') Phong thủy văn phòng
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Thiết kế kiến trúc
                                                ul
                                                    li
                                                        a(href='', target='_blank') Mẫu kiến trúc nhà đẹp
                                                    li
                                                        a(href='', target='_blank') Thiết kế nội thất
                                                    li
                                                        a(href='', target='_blank') Thiết kế ngoại thất
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Kinh nghiệm mua bán thuê nhà đất
                                                ul
                                                    li
                                                        a(href='', target='_blank') Kinh nghiệm bán nhà
                                                    li
                                                        a(href='', target='_blank') Kinh nghiệm mua nhà
                                                    li
                                                        a(href='', target='_blank') Kinh nghiệm thuê nhà
                                        #business.tab-pane(role='tabpanel')
                                            h2
                                                a(href='', target='_blank') Danh bạ doanh nghiệp
                                            ul
                                                li
                                                    h3
                                                        a(href='', target='_blank') Môi giới bất động sản
                                                ul
                                                    li
                                                        a(href='', target='_blank') Sàn giao dịch bất động sản
                                                    li
                                                        a(href='', target='_blank') Công ty đầu tư dự án bất động sản
                                                    li
                                                        a(href='', target='_blank') Công ty thẩm định giá bất động sản
                                                    li
                                                        a(href='', target='_blank') Công ty tư vấn pháp lý bất động sản
                                                li
                                                    h3
                                                        a(href='', target='_blank') Công ty xây dựng
                                                ul
                                                    li
                                                        a(href='', target='_blank') Công ty thiết kế kiến trúc
                                                    li
                                                        a(href='', target='_blank') Vật liệu xây dựng
                                                    li
                                                        a(href='', target='_blank') Trang trí nội thất
                                                li
                                                    h3
                                                        a(href='', target='_blank') Bảo trì vận chuyển
                                                li
                                                    h3
                                                        a(href='', target='_blank') Tài chính - Ngân hàng

block page-script
    style.
        .tera-body.container {
            margin-top: 70px;
        }
