extends ./layout2.jade
block head
    title Điều kiện thỏa thuận
    meta(name='description' content='Điều kiện thỏa thuận')
    script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "https://www.tera.vn/",
        "name": "Tera",
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "https://www.tera.vn/dieu-kien-thoa-thuan",
        "name": "Điều kiện thỏa thuận",
        }
        }]
        }
block content
    .tera-body.container
        .row
            ol.breadcrumb
                li
                    a.breadcrumb(href='/') Tera
                li
                    a.breadcrumb(href='/dieu-kien-thoa-thuan') Điều kiện thỏa thuận
            .col-xs-12
                .panel.panel-tera-posting
                    .panel-heading.no-padding
                        span.text-left.title Điều kiện thỏa thuận
block page-script
    style.
        .tera-body.container {
            margin-top: 70px;
        }